
<div class="super_container">

	<%= render '/site/partials/Header' %>
	<%= render '/site/partials/Menu' %>
	<%= render '/site/partials/Home' %>
	<%= render '/site/partials/Categories' %>
	<%= render '/site/partials/Products' %>
	<%= render '/site/partials/Newsletter' %>




</div>



